<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:fragment="head">
    <meta name="_csrf" th:content="${_csrf.getToken()}">
    <meta name="_csrf_header" th:content="${_csrf.getHeaderName()}">
    <meta charset="UTF-8">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap}"
          rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/training-programs.css}">
    <link rel="stylesheet" th:href="@{/css/training-programs-add.css}">
    <link rel="stylesheet" th:href="@{/css/training-program-details.css}">
    <link rel="stylesheet" th:href="@{/css/exercise-details.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/profile-edit.css}">
    <link rel="stylesheet" th:href="@{/css/favourites.css}">
    <link rel="stylesheet" th:href="@{/css/pending.css}">
    <link rel="stylesheet" th:href="@{/css/403.css}">
    <link rel="stylesheet" th:href="@{/css/password.css}">
    <link rel="stylesheet" th:href="@{/css/stats.css}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/477a1210d1.js" crossorigin="anonymous"></script>
    <script src="/js/exercise.js"></script>
    <script src="/js/show-password.js"></script>
</head>

</html>