.details-wrapper {
    margin: 30px;
    display: flex;
    justify-content: center;
}

#frame {
    min-height: 320px;
    min-width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.exercise-description {
    flex-basis: 30%;
    margin-left: 50px;
}