<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>Error</title>
</head>
<body>
<header th:replace="fragments/header.html :: navbar"></header>

<main>
    <div class="stepping-title">
        <h2 class="main-title">Sorry! You have no permissions to access this page!</h2>
    </div>

    <p style="text-align: center">Click <a th:href="@{/}">here</a> to go back to the Homepage.</p>
</main>

<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>