<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>Diets</title>
</head>
<body>
<header th:replace="fragments/header.html :: navbar"></header>

<main>
    <div class="stepping-title">
        <h1 class="main-title">Taste some of our healthy diets!</h1>
    </div>

    <section class="trainings-wrapper">
        <p th:if="${diets.isEmpty()}">There are no diets yet!</p>

        <div th:each="d : ${diets}" th:object="${d}" class="card bg-dark text-white" style="width: 25rem;">
            <img th:src="@{*{pictureUrl}}" alt="bodyPart" class="card-img blur-img">
            <div class="card-img-overlay">
                <h5 class="card-title card-content" th:text="*{title}">Title</h5>
                <p class="author card-content" th:text="*{author}"></p>
                <p class="posted-on card-content" th:text="*{created}"></p>
                <p class="card-text card-content" th:text="*{description}">Description</p>
                <a th:href="@{/diets/{id}(id=*{id})}" class="btn btn-primary">Taste this diet</a>
            </div>
        </div>

    </section>

    <div class="pagination-wrapper" th:if="${diets.getTotalPages() > 1}">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${diets.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/diets(page = ${diets.getNumber() - 1}, size=${diets.getSize()})}">Previous
                    </a>
                </li>

                <li th:each="pageNumber : ${pageNumbers}" class="page-item">
                    <a class="page-link"
                       th:classappend="${diets.getNumber() == pageNumber - 1} ? 'active-link' : ''"
                       th:href="@{/diets(page = ${pageNumber} - 1, size=${diets.getSize()})}"
                       th:text="${pageNumber}">1</a>
                </li>

                <li th:if="${diets.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/diets(page = ${diets.getNumber() + 1}, size=${diets.getSize()})}">Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="add-training">
        <a th:href="@{/diets/add}">Add diet</a>
    </div>
</main>

<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>
