<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>Exercise</title>
</head>
<body>
<header th:replace="fragments/header.html :: navbar"></header>

<main>
    <div class="stepping-title">
        <h1 class="main-title" th:text="${exercise.name}">Name</h1>
    </div>

    <section class="details-wrapper">
        <div>
            <iframe id="frame" th:src="@{https://www.youtube.com/embed/{url}(url=${exercise.videoUrl})}">
            </iframe>
        </div>

        <p class="exercise-description" th:text="${exercise.description}"></p>

    </section>
</main>

<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>