<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>Password</title>
</head>
<body>
<header th:replace="fragments/header.html :: navbar"></header>
<main>

    <div class="stepping-title">
        <h1 class="main-title">Reset Password</h1>
    </div>

    <div class="form-wrapper">

        <form class="password-form" th:action="@{/password}" th:method="post">


            <div class="input-field">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="john@gmail.com">
            </div>

            <div class="input-field">
                <input class="fit-btn" type="submit" value="Submit">
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>