<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>Training</title>
</head>
<body>
<header th:replace="fragments/header.html :: navbar"></header>
<main>
    <div class="form-wrapper">

        <form class="training-form"
              th:object="${trainingProgram}"
              th:action="@{/training-programs/{id}/edit(id=*{id})}"
              th:method="PUT">

            <div class="training-label-wrapper">
                <label for="title">Title:</label>
                <input type="text"
                       id="title"
                       th:field="*{title}"
                       th:errorclass="is-invalid">

                <p class="invalid-feedback errors alert alert-danger"
                   th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title is required!</p>
            </div>

            <div class="training-label-wrapper">
                <label for="description">Description:</label>
                <textarea
                        id="description"
                        cols="45" rows="5"
                        th:field="*{description}"
                        th:errorclass="is-invalid">
            </textarea>

                <p class="invalid-feedback errors alert alert-danger"
                   th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description is required!</p>
            </div>

            <p class="training-label-wrapper">Aim of this training:</p>

            <div class="radio-wrapper">
                <input type="radio"
                       id="lose_fat"
                       th:field="*{purpose}"
                       th:errorclass="is-invalid"
                       th:value="LOSE_FAT">
                <label for="lose_fat">Lose Fat</label>
                <input type="radio"
                       id="gain_mass"
                       th:field="*{purpose}"
                       th:errorclass="is-invalid"
                       th:value="GAIN_MASS">
                <label for="gain_mass">Gain Mass</label>

                <p class="invalid-feedback errors alert alert-danger"
                   th:if="${#fields.hasErrors('purpose')}" th:errors="*{purpose}">Goal is required!</p>
            </div>

            <label class="training-label-wrapper" for="bodyParts">
                Which body parts does this training affect:</label>

            <div class="checkbox-wrapper">
                <input type="checkbox" id="bodyParts" name="bodyParts"
                       th:each="b : ${bodyParts}"
                       th:text="${b.name()}"
                       th:value="${b.name()}"
                       th:checked="${trainingProgram.bodyParts.contains(b)}">
            </div>

            <h4 class="training-label-wrapper">Exercises:</h4>

            <p class="errors alert alert-danger"
               th:if="${noExercises}">Your training must have at least one exercise with all fields filled!
            </p>

            <div id="exercises">

                <th:block th:each="e : ${exercisesData}">
                    <h5 th:if="${e.contains('name|')}" class="exercise-num">Edit Exercise</h5>

                    <div class="button-wrapper" th:if="${e.contains('name|')}">
                        <button class="fitcom-small-btn" type="button"
                                th:training-id="${trainingProgram.id}"
                                th:exercise-name="${e.substring(5)}"
                                onclick="removeExercise(this.getAttribute('training-id'), this.getAttribute('exercise-name'), this)"
                        >Remove exercise
                        </button>
                    </div>

                    <div class="training-label-wrapper" th:if="${e.contains('name|')}">
                        <label for="exName">Name:</label>
                        <input type="text"
                               id="exName"
                               name="exercisesData"
                               th:value="${e.substring(5)}">
                    </div>

                    <div class="training-label-wrapper" th:if="${e.contains('description|')}">
                        <label for="exDescription">Description:</label>
                        <textarea
                                id="exDescription" cols="45" rows="5" name="exercisesData"
                                th:text="${e.substring(12)}">
                        </textarea>
                    </div>

                    <div class=" training-label-wrapper" th:if="${e.contains('video|')}">
                        <label for="exVideo">Video:</label>
                        <input type="text" id="exVideo"
                               name="exercisesData"
                               th:value="${e.substring(6)}">
                    </div>
                </th:block>

            </div>

            <div class="button-wrapper">
                <button class="fitcom-small-btn"
                        type="button"
                        onclick="addExercise()" id="add-exercise">Add exercise
                </button>
            </div>

            <div class="input-field">
                <input id="submit-btn" type="submit" value="Save">
            </div>

        </form>
    </div>
</main>

<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>