<th:block th:text="#{registration_welcome}">Welcome to Fitcom!</th:block>

<th:block th:text="#{registration_dear_user(${user})}">Dear user</th:block>

<th:block th:text="#{registration_thanks}">Thank you for joining Fitcom!</th:block>
<th:block th:text="#{registration_email}">
    To complete the registration please click on the following link:
</th:block>
<th:block th:text="${registration_link}">

</th:block>

<th:block th:text="#{registration_enjoy}">Enjoy!</th:block>
<th:block th:text="#{registration_best_regards}">Best regards, Fitcom team.</th:block>

